<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">IoT System</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" id="home" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="led" href="/public_html/pages/led.php"
					>Led</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					id="sensors"
					href="/public_html/pages/sensor.php"
					>Sensors</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					id="charts"
					href="/public_html/pages/chart.php"
					>Charts</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					id="summary"
					href="/public_html/pages/summary.php"
					>Summary</a
				>
			</li>
		</ul>
	</div>
</nav>
