<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="navbarDropdownMenuLink"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">
					Choose sensor
				</a>
				<div
					class="dropdown-menu"
					aria-labelledby="navbarDropdownMenuLink">
					<a
						class="dropdown-item"
						href="/public_html/pages/sensors/rpy.php"
						>Roll Pitch Yaw</a
					>
					<a
						class="dropdown-item"
						href="/public_html/pages/sensors/temperature.php"
						>Temperature</a
					>
					<a
						class="dropdown-item"
						href="/public_html/pages/sensors/pressure.php"
						>Barometric pressure</a
					>
					<a
						class="dropdown-item"
						href="/public_html/pages/sensors/humidity.php"
						>Humidity</a
					>
				</div>
			</li>
		</ul>
	</div>
</nav>
