[Unit]
Description=Autostart server and sensors readings after succesfull connection to the wi-fi network
After=network-online.target

[Service]
Type=simple
ExecStart=/var/www/sense-hat-application/src/start_server.sh

[Install]
WantedBy=multi-user.target
